    body {
        background-color: lightgray;
    }
    nav {
        color: green;
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: bold;
    }
      footer {
        color: green;
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: bold;
    }
    h1{
        color: purple;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 30px;
        font-style: bold;
        }
    h2{
        color: purple;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 25px;
        font-style: bold;
        }
    p {
        color: rgb(77, 0, 128);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-align: left;
        font-style: italic;
        }
    ul {
        color: orange;
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        }

    ol {
        color: orange;
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        }